<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body style="background-image: url('https://images.pexels.com/photos/6663/desk-white-black-header.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');background-size: cover;" >
    <form style="margin-top: 12%;" action="/create_events" method="POST">
        <center>
            <br>
            <h1>Create A Events</h1>
            <br><br>
            Event Name : <input type="text" name="event_name" placeholder="Event"><br><br>
            Description : <input type="text" name="description" placeholder="Description"><br><br>
            Email : <input type="text" name="email" placeholder="Email"><br><br>
            Start Day : <input type="text" name="start" placeholder="Starting Day"><br><br>
            End Day : <input type="text" name="end" placeholder="Ending Day"><br><br>
            City : <input type="text" name="city" placeholder="City"><br><br>
            <input type="submit" value="Submit">
        </center>

    </form>
</body>
</html>