<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body style="background-image: url('https://images.pexels.com/photos/1279813/pexels-photo-1279813.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');background-size:cover;;">
    <center style="margin-top: 45%;">
        <button type="button" onclick="window.location.href='/create_events'">Create An Events</button>&nbsp;&nbsp;&nbsp;
        <button type="button" onclick="window.location.href='/update_events'">Update An Events</button>&nbsp;&nbsp;&nbsp;
        <button type="button" onclick="window.location.href='/delete_events'">Delete An Events</button>&nbsp;&nbsp;&nbsp;
        <button type="button" onclick="window.location.href='/show_events'">Show All Events</button>&nbsp;&nbsp;&nbsp;
    <button type="button" onclick="window.location.href='/logout'">Logout</button>&nbsp;&nbsp;&nbsp;
        
    </center>
</body>

</html>