<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body
    style="background-color: aqua;font-size: 19px;font-family:sans-serif;">
    <form style="margin-top: 12%;" action="/login" method="POST">
        <center>
            <h1>Login</h1>
            <br><br>
            Email : <input type="text" name="email" placeholder="Your Email"><br><br>
            Password : <input type="password" name="password" placeholder="Password"><br><br>
            <input type="submit" value="Submit">
        </center>

    </form>
</body>

</html>